@mixin flex($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

//responsive
@mixin screenSize($max, $min) {
  @media only screen and (max-width: $max) and (min-width: $min) {
    @content;
  }
}
