// colors
$primary-color-dark: #282f49;
$primary-color-light: #f5f2ed;
$secondary-color-dark: #01172c;
$secondary-color-light: #5ac6ec;

//typography
$mainTitle: 36px;
$title: 30px;
$subtitle: 24px;
$paragraph: 18px;
$subParagraph: 14px;
