.filters {
  @include flex(row, space-around, center, 10px);
  flex-wrap: wrap;
}

.Cards {
  @include flex(row, center, center, 20px);
  flex-wrap: wrap;
  margin: 2% 0;
}

.seeMore {
  @include flex(row, center, center, 0);

  button {
    @extend %button;
    width: 200px;
    padding: 1%;
  }
}
